Repository RunanywhereAI/sdks: changes, and which pre-commit hooks are due for each by the changed paths.
All: android-sdk-lint, android-app-lint, ios-sdk-swiftlint, ios-app-swiftlint

android-sdk-lint:
  name: Android SDK Lint
  entry: bash -c 'cd sdk/runanywhere-android && ./gradlew lint'
  language: system
  pass_filenames: false

android-app-lint:
  name: Android App Lint
  entry: bash -c 'cd examples/android/RunAnywhereAI && ./gradlew :app:lint'
  language: system
  pass_filenames: false

ios-sdk-swiftlint:
  name: iOS SDK SwiftLint
  entry: bash -c 'cd sdk/runanywhere-swift && if which swiftlint >/dev/null; then swiftlint; else echo "SwiftLint not installed"; exit 1; fi'
  language: system
  pass_filenames: false

ios-app-swiftlint:
  name: iOS App SwiftLint
  entry: bash -c 'cd examples/ios/RunAnywhereAI && if which swiftlint >/dev/null; then swiftlint; else echo "SwiftLint not installed"; exit 1; fi'
  language: system
  pass_filenames: false

updating models sizig reporting
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/HuggingFaceDirectoryDownloader.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMServices/Core/SwiftTransformersService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelDownloadManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelSizeProvider.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelProviders/ModelProvider.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelDownloadProgressView.swift
  examples/ios/RunAnywhereAI/scripts/README.md
  examples/ios/RunAnywhereAI/scripts/update_model_sizes.sh
Due: ios-app-swiftlint

updating the model sizes logic and toodo for sizing logic
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/docs/TODOs_for_later.md
  examples/ios/RunAnywhereAI/scripts/README.md
  examples/ios/RunAnywhereAI/scripts/update_model_sizes.sh
  examples/ios/RunAnywhereAI/scripts/verify_urls.sh
Due: ios-app-swiftlint

adding models view updates
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelProviders/ModelProvider.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/UnifiedLLMService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModelEnhanced.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelDownloadProgressView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/UnifiedModelsView.swift
  examples/ios/RunAnywhereAI/docs/HUGGINGFACE_DOWNLOAD_GUIDE.md
  examples/ios/RunAnywhereAI/docs/KAGGLE_MODEL_DOWNLOAD_GUIDE.md
  examples/ios/RunAnywhereAI/scripts/tflite_model_registry.swift
Due: ios-app-swiftlint

updating and organizing all of the docs
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/docs/README.md
  examples/ios/RunAnywhereAI/docs/TENSORFLOW_LITE_FIX.md
  examples/ios/RunAnywhereAI/docs/archive/TODOs_for_later.md
  examples/ios/RunAnywhereAI/docs/archive/legacy/init_plan.md
  examples/ios/RunAnywhereAI/docs/frameworks/README.md
  examples/ios/RunAnywhereAI/docs/frameworks/ios-llm-frameworks-guide.md
  examples/ios/RunAnywhereAI/docs/frameworks/swift-transformers.md
  examples/ios/RunAnywhereAI/docs/frameworks/tensorflow-lite.md
  examples/ios/RunAnywhereAI/docs/implementation/README.md
  examples/ios/RunAnywhereAI/docs/implementation/app-implementation-guide.md
  examples/ios/RunAnywhereAI/docs/implementation/architecture.md
  examples/ios/RunAnywhereAI/docs/implementation/quickstart.md
  examples/ios/RunAnywhereAI/docs/models/README.md
  examples/ios/RunAnywhereAI/docs/models/bundled-models.md
  examples/ios/RunAnywhereAI/docs/models/download-guide.md
  examples/ios/RunAnywhereAI/docs/models/integration-guide.md
  examples/ios/RunAnywhereAI/docs/models/providers/huggingface.md
  examples/ios/RunAnywhereAI/docs/models/providers/kaggle.md
  examples/ios/RunAnywhereAI/docs/setup/foundation-models.md
  examples/ios/RunAnywhereAI/docs/setup/troubleshooting.md
Due: none

adding docs for executorch
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/docs/implementation/executorch-ios-integration-guide.md
Due: ios-app-swiftlint

executorch implementation updates
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/ModelInfo.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/OpenELM-270M-Instruct-128-float32.mlpackage/Data/com.apple.CoreML/FeatureDescriptions.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/OpenELM-270M-Instruct-128-float32.mlpackage/Data/com.apple.CoreML/Metadata.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/OpenELM-270M-Instruct-128-float32.mlpackage/Data/com.apple.CoreML/model.mlmodel
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/OpenELM-270M-Instruct-128-float32.mlpackage/Manifest.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMServices/Deferred/ExecuTorchService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelProviders/ModelProvider.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Tokenization/Tokenizer.swift
Due: ios-app-swiftlint

some thoughts
  thoughts/shared/plans/llm-framework-lifecycle-analysis.md
  thoughts/shared/plans/llm-implementation-gaps-and-improvements.md
  thoughts/shared/plans/llm-unified-architecture-migration-plan.md
Due: none

adding plans.
  thoughts/shared/plans/llm-unified-architecture-migration-plan.md
  thoughts/shared/plans/sample-app-framework-implementation-plan.md
Due: none

phase 1 of the sdk dev
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/ModelLifecycleStateMachine.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/AuthProvider.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/ErrorRecoveryStrategy.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/FrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/HardwareDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/LLMService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/MemoryManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/ModelLifecycleProtocol.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/ModelProvider.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/UnifiedTokenizerProtocol.swift
Due: ios-sdk-swiftlint

Add HardwareCapabilityManager and UnifiedTokenizerManager for enhanced hardware detection and tokenizer management
  sdk/runanywhere-swift/Sources/RunAnywhere/Hardware/HardwareCapabilityManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/LLMService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/GenerationOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/GenerationResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Tokenization/UnifiedTokenizerManager.swift
Due: ios-sdk-swiftlint

Add UnifiedErrorRecovery and UnifiedProgressTracker for comprehensive error handling and progress tracking
  sdk/runanywhere-swift/Sources/RunAnywhere/ErrorHandling/UnifiedErrorRecovery.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Internal/Types.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Progress/UnifiedProgressTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint

Add UnifiedLLMServiceSDK and framework adapter implementations for RunAnywhereAI
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/BaseFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/CoreMLFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/FrameworkAdapterRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Auth/KeychainServiceExtensions.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/UnifiedLLMServiceSDK.swift
Due: ios-app-swiftlint

Refactor UnifiedLLMServiceSDK and implement framework adapters for enhanced modularity
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/CoreMLFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/ExecuTorchAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/FoundationModelsAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/FrameworkAdapterRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/LlamaCppFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/MLCAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/MLXFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/ONNXFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/PicoLLMAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/SwiftTransformersAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/TFLiteFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/UnifiedLLMServiceSDK.swift
  thoughts/shared/plans/sample-app-framework-implementation-plan.md
Due: ios-app-swiftlint

Add EnhancedDownloadManager, UnifiedMemoryManager, DynamicModelRegistry, and ModelValidator for improved download management, memory handling, model registration, and validation capabilities
  sdk/runanywhere-swift/Sources/RunAnywhere/Download/EnhancedDownloadManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Internal/Types.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Memory/UnifiedMemoryManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Registry/DynamicModelRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Validation/ModelValidator.swift
  thoughts/shared/plans/llm-unified-architecture-migration-plan.md
  thoughts/shared/plans/sdk-integration-cleanup-plan.md
Due: ios-sdk-swiftlint

update plan.
  thoughts/shared/plans/sample-app-framework-implementation-plan.md
Due: none

plan update
  thoughts/shared/plans/sample-app-framework-implementation-plan.md
Due: none

lint fix
  sdk/runanywhere-swift/.swiftlint.yml
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/ModelLifecycleStateMachine.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Download/EnhancedDownloadManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/ErrorHandling/UnifiedErrorRecovery.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Hardware/HardwareCapabilityManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Internal/Types.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Memory/UnifiedMemoryManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Progress/UnifiedProgressTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/AuthProvider.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/ErrorRecoveryStrategy.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/FrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/HardwareDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/LLMService.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/MemoryManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/ModelLifecycleProtocol.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/ModelProvider.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/UnifiedTokenizerProtocol.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/GenerationOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/GenerationResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Registry/DynamicModelRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Tokenization/UnifiedTokenizerManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Validation/ModelValidator.swift
  sdk/runanywhere-swift/Tests/RunAnywhereTests/RunAnywhereTests.swift
  thoughts/shared/plans/llm-unified-architecture-migration-plan.md
  thoughts/shared/plans/sample-app-framework-implementation-plan.md
Due: ios-sdk-swiftlint

more cleanup and fixes
  sdk/runanywhere-swift/Sources/RunAnywhere/Internal/Types.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/FrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/HardwareDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/ModelProvider.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Registry/DynamicModelRegistry.swift
Due: ios-sdk-swiftlint

linting fix and build fix
  sdk/runanywhere-swift/Sources/RunAnywhere/Core/ModelLifecycleStateMachine.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Download/EnhancedDownloadManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/ErrorHandling/UnifiedErrorRecovery.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Hardware/HardwareCapabilityManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Internal/Types.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Memory/UnifiedMemoryManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Progress/UnifiedProgressTracker.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/AuthProvider.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/HardwareDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/ModelProvider.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/GenerationResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Registry/DynamicModelRegistry.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Tokenization/UnifiedTokenizerManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Validation/ModelValidator.swift
Due: ios-sdk-swiftlint

adding stuff
  .pre-commit-config.yaml
  docs/TODO_POLICY.md
  examples/android/RunAnywhereAI/app/build.gradle.kts
  examples/android/RunAnywhereAI/app/lint.xml
  examples/android/RunAnywhereAI/detekt.yml
  examples/ios/RunAnywhereAI/.swiftlint.yml
  scripts/lint-all.sh
  scripts/lint-android.sh
  scripts/lint-ios.sh
  sdk/runanywhere-android/build.gradle.kts
  sdk/runanywhere-android/detekt.yml
  sdk/runanywhere-android/lint.xml
  sdk/runanywhere-swift/.swiftlint.yml
  sdk/runanywhere-swift/README.md
  sdk/runanywhere-swift/docs/API_REFERENCE.md
  sdk/runanywhere-swift/docs/ARCHITECTURE.md
  thoughts/shared/plans/swift_transformers_integration.md
Due: android-sdk-lint, android-app-lint

update
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

Refactor and integrate RunAnywhere SDK into the sample app
  examples/ios/RunAnywhereAI/Podfile
  examples/ios/RunAnywhereAI/Podfile.lock
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/BaseFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/CoreMLFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/ExecuTorchAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/FoundationModelsAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/FrameworkAdapterRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/LlamaCppFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/MLCAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/MLXFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/ONNXFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/PicoLLMAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/SwiftTransformersAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/TFLiteFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/TypeConversions.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/UnifiedLLMServiceSDK.swift
  examples/ios/RunAnywhereAI/scripts/build_and_run.sh
  sdk/runanywhere-swift/Sources/RunAnywhere/Download/EnhancedDownloadManager.swift
  thoughts/shared/plans/sample-app-framework-implementation-plan.md
Due: ios-sdk-swiftlint, ios-app-swiftlint

small updates
  examples/ios/RunAnywhereAI/Podfile.lock
  sdk/runanywhere-swift/Sources/RunAnywhere/Hardware/iOSHardwareDetector.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
Due: ios-sdk-swiftlint

adding new capabilites to the SDK
  sdk/runanywhere-swift/Sources/RunAnywhere/Benchmarking/BenchmarkSuite.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Compatibility/CompatibilityTypes.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Compatibility/ModelCompatibilityMatrix.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Monitoring/RealtimePerformanceMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Profiling/MemoryProfiler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/FrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Storage/StorageMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Testing/ABTestingFramework.swift
Due: ios-sdk-swiftlint

deleting stuff that's been moved now
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/GenerationOptions.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/ModelInfo.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/TypeConversions.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/BenchmarkService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Benchmarking/BenchmarkSuite.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/BundledModelsService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/DependencyContainer.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/DeviceInfoService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/BaseLLMService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/FrameworkInfo.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/LLMCapabilities.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/LLMInference.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/LLMMetrics.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/LLMModelLoader.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/LLMProtocol.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/MemoryManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelCompatibilityChecker.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelLoader.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelCompatibilityMatrix.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelConverter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelDownloadManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelFormatDetector.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelFormatHandler.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelFormatManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelRepository.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelSizeProvider.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManagement/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Monitoring/RealtimePerformanceMonitor.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/PerformanceMonitor.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Profiling/MemoryProfiler.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ServiceLifecycleObserverImpl.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/StorageMonitorService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Testing/ABTestingFramework.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/UnifiedLLMService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/UnifiedLLMServiceSDK.swift
Due: ios-app-swiftlint

updating arch doc for the sdk
  sdk/runanywhere-swift/docs/ARCHITECTURE.md
Due: none

sdk changes
  sdk/runanywhere-swift/Sources/RunAnywhere/Benchmarking/BenchmarkSuite.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Compatibility/ModelCompatibilityMatrix.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Download/EnhancedDownloadManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/ErrorHandling/UnifiedErrorRecovery.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Monitoring/RealtimePerformanceMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Profiling/MemoryProfiler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/FrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Storage/StorageMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Testing/ABTestingFramework.swift
Due: ios-sdk-swiftlint

sample app updates
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/ContentView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/AppTypes.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/Deferred/CoreMLFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/Deferred/ExecuTorchAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/Deferred/LlamaCppFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/Deferred/MLCAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/Deferred/MLXFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/Deferred/ONNXFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/Deferred/PicoLLMAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/Deferred/SwiftTransformersAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/Deferred/TFLiteFrameworkAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/FrameworkAdapterRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Adapters/MediaPipeAdapter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ConversationStore.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/BundledModelsService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/DeviceInfoService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/ModelDownloadManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Chat/ChatInterfaceView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ChatView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Components/UnifiedModelRow.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/CustomURLDialog.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Dashboard/Charts/DashboardCharts.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Dashboard/PerformanceDashboardView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelDownloadConfirmationView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/UnifiedModelsView.swift
Due: ios-app-swiftlint

adding files integration download layer
  .claude/settings.local.json
  sdk/runanywhere-swift/Package.resolved
  sdk/runanywhere-swift/Package.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Download/ModelDownloadManager.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Storage/ModelStorageManager.swift
Due: ios-sdk-swiftlint

adding logging
  sdk/runanywhere-swift/Sources/RunAnywhere/Benchmarking/BenchmarkSuite.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Compatibility/ModelCompatibilityMatrix.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Monitoring/RealtimePerformanceMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Profiling/MemoryProfiler.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Protocols/FrameworkAdapter.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Storage/StorageMonitor.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Testing/ABTestingFramework.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Utils/Logger.swift
Due: ios-sdk-swiftlint

fixing build issues
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Auth/KeychainServiceExtensions.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ConversationExporter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ConversationStore.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/HuggingFaceDirectoryDownloader.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/DeviceInfoService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/ModelDownloadManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Stubs/ModelURLRegistry.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/FrameworkCapabilityExplorerViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ChatView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Components/UnifiedFrameworkCard.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/DeviceInfoView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelDownloadConfirmationView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SimplifiedSettingsView.swift
Due: ios-app-swiftlint

removing legacy views
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/FrameworkCapabilityExplorerViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Components/UnifiedFrameworkCard.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Components/UnifiedModelDetailsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Components/UnifiedModelRow.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Dashboard/Charts/DashboardCharts.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Dashboard/PerformanceDashboardView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/MemoryMonitorView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelDownloadConfirmationView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelDownloadProgressView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelImportView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Settings/ModelURLSettingsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SettingsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SimplifiedModelsView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/UnifiedModelsView.swift
Due: ios-app-swiftlint

adding some stuff
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/Components/UnifiedModelDetailsView.swift
Due: ios-app-swiftlint

sample app is working now!
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/Podfile
  examples/ios/RunAnywhereAI/Podfile.lock
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcodeproj/project.pbxproj
  examples/ios/RunAnywhereAI/scripts/build_and_run.sh
  examples/ios/RunAnywhereAI/scripts/fix_pods_sandbox.sh
  sdk/runanywhere-swift/Package.swift
Due: ios-sdk-swiftlint

adding new dependencies
  examples/ios/RunAnywhereAI/RunAnywhereAI.xcworkspace/xcshareddata/swiftpm/Package.resolved
Due: none

rearch plan
  sdk/runanywhere-swift/docs/SDK_ARCHITECTURE_REFACTORING_PLAN.md
Due: none

update doc
  sdk/runanywhere-swift/docs/SDK_ARCHITECTURE_REFACTORING_PLAN.md
Due: none

Path conditions:
  android-sdk-lint: any of: ^sdk/runanywhere-android/.*\.(kt|kts|java|xml)$
  android-app-lint: any of: ^examples/android/RunAnywhereAI/.*\.(kt|kts|java|xml)$
  ios-sdk-swiftlint: any of: ^sdk/runanywhere-swift/.*\.swift$
  ios-app-swiftlint: any of: ^examples/ios/RunAnywhereAI/.*\.swift$
