Repository RunanywhereAI/sdks: changes, and which pre-commit hooks are due for each by the changed paths.
All: android-sdk-lint, android-app-lint, ios-sdk-swiftlint, ios-app-swiftlint

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information

repos:
  # General hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict

  # Android Lint for SDK
  - repo: local
    hooks:
      - id: android-sdk-lint
        name: Android SDK Lint
        entry: bash -c 'cd sdk/runanywhere-android && ./gradlew lint'
        language: system
        files: ^sdk/runanywhere-android/.*\.(kt|kts|java|xml)$
        pass_filenames: false

  # Android Lint for App
  - repo: local
    hooks:
      - id: android-app-lint
        name: Android App Lint
        entry: bash -c 'cd examples/android/RunAnywhereAI && ./gradlew :app:lint'
        language: system
        files: ^examples/android/RunAnywhereAI/.*\.(kt|kts|java|xml)$
        pass_filenames: false

  # SwiftLint for iOS SDK
  - repo: local
    hooks:
      - id: ios-sdk-swiftlint
        name: iOS SDK SwiftLint
        entry: bash -c 'cd sdk/runanywhere-swift && if which swiftlint >/dev/null; then swiftlint; else echo "SwiftLint not installed"; exit 1; fi'
        language: system
        files: ^sdk/runanywhere-swift/.*\.swift$
        pass_filenames: false

  # SwiftLint for iOS App
  - repo: local
    hooks:
      - id: ios-app-swiftlint
        name: iOS App SwiftLint
        entry: bash -c 'cd examples/ios/RunAnywhereAI && if which swiftlint >/dev/null; then swiftlint; else echo "SwiftLint not installed"; exit 1; fi'
        language: system
        files: ^examples/ios/RunAnywhereAI/.*\.swift$
        pass_filenames: false

# Configuration
default_language_version:
  python: python3

# Skip these hooks during CI
ci:
  skip:
    - android-sdk-lint
    - android-app-lint
    - ios-sdk-swiftlint
    - ios-app-swiftlint

Add GitHub Actions workflows for linting and building all projects
  .github/workflows/android-app-build.yml
  .github/workflows/android-app-lint.yml
  .github/workflows/android-sdk-build.yml
  .github/workflows/android-sdk-lint.yml
  .github/workflows/ios-app-build.yml
  .github/workflows/ios-app-lint.yml
  .github/workflows/ios-sdk-build.yml
  .github/workflows/ios-sdk-lint.yml
Due: none

Consolidate GitHub Actions workflows to combine lint and build stages
  .github/workflows/android-app-lint.yml
  .github/workflows/android-app.yml
  .github/workflows/android-sdk-lint.yml
  .github/workflows/android-sdk.yml
  .github/workflows/ios-app-lint.yml
  .github/workflows/ios-app.yml
  .github/workflows/ios-sdk-lint.yml
  .github/workflows/ios-sdk.yml
Due: none

Fix deprecated GitHub Actions artifact upload version
  .github/workflows/android-app.yml
  .github/workflows/android-sdk.yml
  .github/workflows/ios-app.yml
  .github/workflows/ios-sdk.yml
Due: none

Refactor RunAnywhere swift SDK structure and enhance functionality
  .claude/settings.local.json
  sdk/runanywhere-swift/.github/workflows/ci.yml
  sdk/runanywhere-swift/Package.resolved
  sdk/runanywhere-swift/Package.swift
  sdk/runanywhere-swift/README.md
  sdk/runanywhere-swift/Sources/RunAnywhere/Internal/Types.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/Configuration.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/GenerationOptions.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/GenerationResult.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/Public/RunAnywhereSDK.swift
  sdk/runanywhere-swift/Sources/RunAnywhere/RunAnywhere.swift
  sdk/runanywhere-swift/Tests/RunAnywhereTests/RunAnywhereTests.swift
Due: ios-sdk-swiftlint

adding claude.md file
  .claude/settings.local.json
  CLAUDE.md
Due: none

adding the planning etc
  .claude/commands/commit.md
  .claude/commands/create_plan.md
  .claude/commands/implement_plan.md
  .claude/commands/validate_plan.md
  CLAUDE.md
Due: none

adding parallel work prompts
  .claude/commands/parallel_work_standard.md
Due: none

adding init plan
  examples/ios/RunAnywhereAI/docs/plans/init_plan.md
Due: none

Update implementation plan and add iOS sample app
  .claude/commands/implement_plan.md
  examples/ios/RunAnywhereAI/README.md
  examples/ios/RunAnywhereAI/RunAnywhereAI/ContentView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/ChatMessage.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/GenerationOptions.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/ModelInfo.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/CoreMLService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/LLMProtocol.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/LlamaCppService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/MLXService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/MockLLMService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/PerformanceMonitor.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/UnifiedLLMService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Utilities/Constants.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ChatView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelListView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SettingsView.swift
  examples/ios/RunAnywhereAI/docs/plans/init_plan.md
Due: ios-app-swiftlint

Enhance iOS project with new run script and performance monitoring updates
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/PerformanceMonitor.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/UnifiedLLMService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ChatViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ChatView.swift
  examples/ios/RunAnywhereAI/docs/plans/LOCAL_LLM_SAMPLE_APP_IMPLEMENTATION.md
  examples/ios/RunAnywhereAI/docs/plans/NATIVE_APP_QUICKSTART_GUIDE.md
  examples/ios/RunAnywhereAI/run.sh
Due: ios-app-swiftlint

Add Local LLM Implementation and Model Management Features
  examples/android/RunAnywhereAI/LOCAL_LLM_README.md
  examples/android/RunAnywhereAI/app/build.gradle.kts
  examples/android/RunAnywhereAI/app/src/main/AndroidManifest.xml
  examples/android/RunAnywhereAI/app/src/main/assets/models_info.json
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/MainActivity.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/repository/ModelRepository.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/LLMService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/UnifiedLLMManager.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/MediaPipeService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/ONNXRuntimeService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/ui/chat/ChatScreen.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/ui/chat/ChatViewModel.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/ui/models/ModelsScreen.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/ui/models/ModelsViewModel.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/utils/FormatUtils.kt
  examples/android/RunAnywhereAI/docs/ANDROID_LOCAL_LLM_IMPLEMENTATION_GUIDE.md
  examples/android/RunAnywhereAI/docs/LOCAL_LLM_SAMPLE_APP_IMPLEMENTATION.md
  examples/android/RunAnywhereAI/docs/NATIVE_APP_QUICKSTART_GUIDE.md
Due: android-app-lint

Add CoreML and LlamaCpp services with bridging header for iOS project
  examples/ios/RunAnywhereAI/RunAnywhereAI/RunAnywhereAI-Bridging-Header.h
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/CoreMLService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LlamaCppService.swift
  examples/ios/RunAnywhereAI/docs/plans/local_llm_frameworks_implementation.md
Due: ios-app-swiftlint

Implement MLXService and enhance model management in iOS project
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/MLXService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelDownloadView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelImportView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelListView.swift
Due: ios-app-swiftlint

Integrate Detekt for Static Code Analysis and Update Configuration
  examples/android/RunAnywhereAI/app/build.gradle.kts
  examples/android/RunAnywhereAI/app/detekt-baseline.xml
  examples/android/RunAnywhereAI/build.gradle.kts
  examples/android/RunAnywhereAI/detekt-config.yml
  examples/android/RunAnywhereAI/gradle/libs.versions.toml
Due: android-app-lint

Update Chat Icon in MainActivity
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/MainActivity.kt
Due: android-app-lint

Refactor MediaPipeService and ONNXRuntimeService for Improved Clarity and Performance
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/MainActivity.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/MediaPipeService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/ONNXRuntimeService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/ui/chat/ChatViewModel.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/ui/models/ModelsScreen.kt
Due: android-app-lint

Add MLCService and ONNXService for model management in iOS project
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/MLCService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ONNXService.swift
Due: ios-app-swiftlint

Update Icons in UI Components for Consistency and Clarity
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/MainActivity.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/ONNXRuntimeService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/ui/models/ModelsScreen.kt
Due: android-app-lint

Refactor model management services for improved scalability and maintainability
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ExecuTorchService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/TFLiteService.swift
Due: ios-app-swiftlint

Enhance model management and memory handling in iOS project
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/ModelInfo.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/CoreMLService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMError.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LlamaCppService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/MemoryManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/PicoLLMService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/SwiftTransformersService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/UnifiedLLMService.swift
Due: ios-app-swiftlint

Implement MLXService enhancements and introduce model loading and memory monitoring views
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/MLXService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelLoader.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/MemoryMonitorView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelLoadingView.swift
Due: ios-app-swiftlint

Refactor tokenization implementation across services for improved scalability and maintainability
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/CoreMLService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LlamaCppService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/MLXService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Tokenization/Tokenizer.swift
Due: ios-app-swiftlint

Enhance Model Management with Gemini Nano Integration
  .claude/settings.local.json
  examples/android/RunAnywhereAI/app/build.gradle.kts
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/repository/ModelRepository.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/UnifiedLLMManager.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/GeminiNanoService.kt
Due: android-app-lint

Add Benchmarking functionality and enhance model management in iOS project
  examples/ios/RunAnywhereAI/RunAnywhereAI/ContentView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/ModelInfo.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/BenchmarkService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/BundledModelsService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/BenchmarkView.swift
Due: ios-app-swiftlint

Add TensorFlow Lite Support and Model Enhancements
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/repository/ModelRepository.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/UnifiedLLMManager.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/TFLiteService.kt
Due: android-app-lint

Implement framework configuration and model compatibility features in iOS project
  examples/ios/RunAnywhereAI/RunAnywhereAI/RunAnywhereAIApp.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/FrameworkConfiguration.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelCompatibilityChecker.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelListView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/SettingsView.swift
Due: ios-app-swiftlint

Add ConversationStore and related models for conversation management in iOS project
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ConversationStore.swift
Due: ios-app-swiftlint

Implement Llama.cpp Integration and Tokenization Features
  examples/android/RunAnywhereAI/app/build.gradle.kts
  examples/android/RunAnywhereAI/app/src/main/cpp/CMakeLists.txt
  examples/android/RunAnywhereAI/app/src/main/cpp/llama_jni.cpp
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/repository/ModelRepository.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/UnifiedLLMManager.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/LlamaCppService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/tokenizer/BPETokenizer.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/tokenizer/LlamaTokenizer.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/tokenizer/SentencePieceTokenizer.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/tokenizer/SimpleTokenizer.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/tokenizer/Tokenizer.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/tokenizer/WordPieceTokenizer.kt
Due: android-app-lint

Enhance ChatMessage model and introduce ConversationExporter for exporting conversations
  examples/ios/RunAnywhereAI/RunAnywhereAI/Models/ChatMessage.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ConversationExporter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ChatView.swift
Due: ios-app-swiftlint

Enhance ModelRepository and UI with File Verification and Memory Management
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/repository/ModelRepository.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/GeminiNanoService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/TFLiteService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/ui/models/ModelsScreen.kt
Due: android-app-lint

Enhance local LLM frameworks implementation and update project documentation
  examples/ios/RunAnywhereAI/docs/plans/local_llm_frameworks_implementation.md
Due: none

Add ExecuTorch Support and Hardware Detection Enhancements
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/repository/ModelRepository.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/UnifiedLLMManager.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/ExecuTorchService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/utils/HardwareDetector.kt
Due: android-app-lint

Add MLC-LLM Support and Model Integration
  examples/android/RunAnywhereAI/app/src/main/cpp/CMakeLists.txt
  examples/android/RunAnywhereAI/app/src/main/cpp/mlc_llm_jni.cpp
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/repository/ModelRepository.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/UnifiedLLMManager.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/MLCLLMService.kt
Due: android-app-lint

Refactor LLM services to implement LLMService protocol and enhance model support
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/CoreMLService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ExecuTorchService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/FrameworkConfiguration.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/CoreMLService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/LlamaCppService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/MLXService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LlamaCppService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/MLCService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/MLXService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ONNXService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/PicoLLMService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/SwiftTransformersService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/TFLiteService.swift
Due: ios-app-swiftlint

Add Room Database Support and AI Framework Enhancements
  examples/android/RunAnywhereAI/app/build.gradle.kts
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/database/ConversationDatabase.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/GenerationResult.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/LLMService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/UnifiedLLMManager.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/AICoreLLMService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/PicoLLMService.kt
Due: android-app-lint

Refactor and streamline model services for improved clarity and maintainability
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/BundledModelsService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ConversationExporter.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMError.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/CoreMLService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/LLMProtocol.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/LlamaCppService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/MLXService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/MockLLMService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelCompatibilityChecker.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelLoader.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/Tokenization/Tokenizer.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/UnifiedLLMService.swift
Due: ios-app-swiftlint

Add Conversation and Message Models with Repository Implementation
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/models/Conversation.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/repository/ConversationRepository.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/repository/ModelRepository.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/security/EncryptionManager.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/ui/screens/EnhancedChatScreen.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/viewmodels/ChatViewModel.kt
Due: android-app-lint

Enhance model services and configuration for improved functionality and clarity
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/BenchmarkService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/BundledModelsService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ExecuTorchService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/FrameworkConfiguration.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/LLMService/MLXService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/MemoryManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelCompatibilityChecker.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/ModelManager.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Services/UnifiedLLMService.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/ViewModels/ModelListViewModel.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelListView.swift
  examples/ios/RunAnywhereAI/RunAnywhereAI/Views/ModelLoadingView.swift
Due: ios-app-swiftlint

Update local settings and SwiftLint configuration for improved code quality
  .claude/settings.local.json
  examples/ios/RunAnywhereAI/.swiftlint.yml
Due: none

Implement Settings Management and UI Enhancements
  examples/android/RunAnywhereAI/app/build.gradle.kts
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/data/repository/PreferencesRepository.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/LLMService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/llm/frameworks/MediaPipeService.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/security/EncryptionManager.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/ui/components/SettingsComponents.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/ui/screens/SettingsScreen.kt
  examples/android/RunAnywhereAI/app/src/main/java/com/runanywhere/runanywhereai/viewmodels/SettingsViewModel.kt
Due: android-app-lint
